.Module.symvers.cmd
.modules.order.cmd
.nct6686.ko.cmd
.nct6686.mod.cmd
.nct6686.mod.o.cmd
.nct6686.o.cmd
linux-headers
Module.symvers
modules.order
nct6686.ko
nct6686.mod
nct6686.mod.c
nct6686.mod.o
nct6686.o
.vscode/
5.1*/

dkms/

.tmp/

debian/changelog
debian/nct6686d-dkms*
debian/.debhelper
debian/debhelper-build-stamp
debian/files
