Source: nct6686d-dkms
Section: kernel
Priority: optional
Maintainer: Zong Jhe Wu <s25g5d4@gmail.com>
Build-Depends: debhelper, dkms
Homepage: https://github.com/s25g5d4/nct6686d/

Package: nct6686d-dkms
Architecture: all
Depends: dkms, ${misc:Depends}
Description: Nuvoton NCT6686-D driver (DKMS version)
